<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Booking</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <%- include('../partials/_navbar.ejs') %>
      <h1>Edit Booking</h1>
      <form action="/bookings/<%= booking._id %>?_method=PUT" method="POST">
        <label for="seatsBooked">Seats to Book:</label>
        <input type="number" id="seatsBooked" name="seatsBooked" min="1" value="<%= booking.seatsBooked %>" required />
        <button type="submit">Update Booking</button>
      </form>
      <a href="/bookings/<%= booking._id %>" class="btn-link">Back to Booking Details</a>

  </div>
</body>

</html>